.main-flexbox-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 30px;
}

.card{
  max-width: 500px;
  border: 1px solid rgb(206, 193, 195);
  margin:  10px auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  box-shadow: 2px 4px 5px #a1a1a1;
  background-color: #27ace6;
}

.toggle-icon{
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 1.2em;
  margin-bottom: 2px;

}

.chevron-left:hover,
.chevron-right:hover{
  cursor: pointer;
}