.main-container{
  margin-top: 50px;
}

.main-flexbox-container{
  background-color: #32363E;
  color: rgb(219, 208, 208);
  max-width: 1100px;
  margin: 0px auto ;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 95vh; */
  padding: 25px 0px ;
}

aside{
  min-width: 300px ;
  align-self: stretch;

}

aside h3{
  text-align: center;
}

section{
  max-width: 85%;
  flex-grow: 2;
}

