.btn{
    width: 100px;
    margin: 5px;
    padding: 10px 15px;
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;

}

.btn:hover{
    cursor: pointer;
    background-color: #cc851c;
    color: #f3f3f3;
    border-radius: 12px;
}