article{
    display: flex;
    margin: 30px 0px 20px;
    justify-content: space-between;
}

article:hover{
    background-color: rgba(240, 248, 255, 0.877);
    color: rgb(125, 192, 192);
}

.title{
    flex-grow: 3;
    font-size: 20px;
}
.btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    /* margin-left: 5px; */
}
.btn:hover{
    cursor: pointer;
}

.btnClearAll{
    width: 100%;
    background-color: #f73c3c;
    color: #fff;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 600;
    
}

.btnClearAll:hover{
    background-color: red;
    color: antiquewhite;
    font-weight: 700;
}



.edit, .add{
    color: #74d174;
    
}


.edit:hover, .add:hover{
    color: green;
}

.delete{
    color: #e49292;
}
.delete:hover{
    color: red;
}