.btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-right: 5px;
}
.btn:hover{
    cursor: pointer;
}
.edit{
    color: #74d174;
    
}


.edit:hover{
    color: green;
}

.delete{
    color: #e49292;
}
.delete:hover{
    color: red;
}

.btnClearAll{
    background-color: #e49292;
}

.btnClearAll:hover{
    background-color: red;
}