.card-container {
    width: 500px;
    margin: 50px auto;

}

.card {
    background-color: bisque;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 3px 2px black -5px -4px 3px red;
}

.card-content {
    display: flex;
    justify-content: space-around;
}

.card-info-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;

}

.card-info {
    width: 100%;
}

.card-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid red;
}



.card-cta {
    border-radius: 7px;
    cursor: pointer;
    background-color: #93e02e;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-cta:hover {
    background-color: #e47171;
}


a {
    text-decoration: none;
    color: #fff;
}