.container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: cornflowerblue;
}
form{
  display: flex;
  align-items: center;
  height: 50px;
}

label{
  color: beige;
  font-size: 35px;
}
input{
  height: 35px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 10px;
  border: none;
  border-radius: 5px;
  width: 100px;
  outline: none;
}

.btn{
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #f2623b;
  color: #fff;
}

.btn:hover{
  cursor: pointer;
  color: #f2623b;
  background-color: #fff;
}

.colors-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1300px;

}

